<!-- CONTEUDO DO USUARIO AUTENTICADO -->
<mat-sidenav-container *ngIf="isLoggedIn">
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <a mat-list-item routerLink="home">
        <mat-icon class="icon">home</mat-icon>
        <span class="label">Página inicial</span>
      </a>
      <a mat-list-item routerLink="dashboard">
        <mat-icon class="icon">dashboard</mat-icon>
        <span class="label">Dashboard</span>
      </a>
      <a mat-list-item type="button" (click)="logout()">
        <mat-icon class="icon">input</mat-icon>
        <span class="label">Sair do Sistema</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>
        <a>
          COTI Informática
        </a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
            <a routerLink="home">
              <mat-icon class="icon">home</mat-icon>
              <span class="label">Página inicial</span>
            </a>
          </li>
          <li>
            <a routerLink="dashboard">
              <mat-icon class="icon">dashboard</mat-icon>
              <span class="label">Dashboard</span>
            </a>
          </li>
          <li>
            <a (click)="logout()">
              <mat-icon class="icon">input</mat-icon>
              <span class="label">Sair do Sistema</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>
    <main>
      <app-dados-usuario></app-dados-usuario>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
 
<div *ngIf="!isLoggedIn">
  <!-- CONTEUDO DO USUARIO NÃO AUTENTICADO -->
  <main>
    <app-login></app-login>
  </main>
</div>